nav{
    height: 7rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-options{
    display: flex;
}
ul li {
    margin: 20px;
}

ul li a{
   text-decoration: none;
    text-align: center;
    color: white;
    transition: 0.3s;
}
body{
    background-image: linear-gradient(to bottom left ,yellow,green);
    background-repeat:repeat-y;
}