#p1{
   color: red; 
}
#p2{
    color: yellow;
}
#p3{
    color: aqua;
}
h1,h2,h3{
    color: green;
}
.group1{
    color: blue;
}
#box{
    background-color:blue ;
    width: 120px;
    height: 20px;
}
#button1{
    background-color: #f67004;
}
#button2{
    background-color: #383BE5;
}
